
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-size: 20px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
  background-image: url("https://pre00.deviantart.net/d89c/th/pre/i/2013/216/3/3/free_background_texture_by_tenha-d6gmj3d.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }

p {
  line-height: 1.5;
  margin: 30px 0; }
  p a {
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a{
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #0085A1; }

.mainNav{
      float: right;
      border-bottom: 1px solid #e9ecef;
      color: white;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
p{
  color:white;
}

li{
  color:white;
}
ul{
  color:white;
}
